*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loadingDiv{
    width: 100%;
    display: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.loadingDiv img{    
    width: 50px;
    height: 50px;
}

i{
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    cursor: pointer;
}

body { font-family: sans-serif; 
    background-color: #EEE;}

.main{
    height: 100vh;
    position: relative;
}

.dashboard-container{
    width: 65vw;    
    height: 80vh;
    max-height: 900px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {    
    min-width: 300px;    
    min-height: 250px;
    background: rgb(241, 241, 241);
    border: 1px solid rgb(189, 189, 189);
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    margin: 10px;
    -webkit-box-shadow: 1px 2px 15px 8px rgba(0,0,0,0.17);
    -moz-box-shadow: 1px 2px 15px 8px rgba(0,0,0,0.17);
    box-shadow: 1px 2px 15px 8px rgba(0,0,0,0.17);
  }

  .one, .two{
    width: 46%;
}

    .one{
        min-width: 455px;
        min-height: 250px;
        max-height: 550px;
    }
  
    .two .title{
        text-align: center;
        font-size: 1.5rem;
        margin: 22px 0px;
    }

    .two .message{
        text-align: center;
        width: 90%;
        margin: auto;
    }


    .three{
        background-image: url(/Front-end/assets/images/0.jpg);
        background-position: center center;
        background-size: cover;
    }

    .four{
        background-image: url(/Front-end/assets/images/1.jpg);
        background-position: center center;
        background-size: cover;
    }

    .five{
        background-image: url(/Front-end/assets/images/2.jpg);
        background-position: center center;
        background-size: cover;
    }

    .six{
        background-image: url(/Front-end/assets/images/3.jpg);
        background-position: center center;
        background-size: cover;
    }

    .seven{
        background-image: url(/Front-end/assets/images/4.jpg);
        background-position: center center;
        background-size: cover;
    }

    .eight{
        background-image: url(/Front-end/assets/images/5.jpg);
        background-position: center center;
        background-size: cover;
    }

    @media (max-width: 768px) {
        .one{
            min-width: 374px;
            min-height: 207px;        
         }
    }